:root {
  --clr-primary-50: #f0f9ff;
  --clr-primary-100: #e0f2fe;
  --clr-primary-200: #bae6fd;
  --clr-primary-300: #7dd3fc;
  --clr-primary-400: #38bdf8;
  --clr-primary-500: #0ea5e9;
  --clr-primary-600: #0284c7;
  --clr-primary-700: #0369a1;
  --clr-primary-800: #075985;
  --clr-primary-900: #0c4a6e;
}

html {
  font-family: system-ui;
}

h1 {
  font-size: 2.25rem;
  font-weight: 900;
}

h2 {
  font-size: 1.75rem;
  font-weight: 700;
}

h3 {
  font-size: 1.5rem;
  font-weight: 600;
}

h4 {
  font-size: 1.25rem;
  font-weight: 500;
}

header {
  color: var(--clr-primary-50);
  display: flex;
  gap: 2ch;
}

header > svg {
  height: 2.5rem;
  aspect-ratio: 1;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  background-color: var(--clr-primary-600);
}

.weather-card {
  min-width: 40ch;
  user-select: none;
  background: var(--clr-primary-900);
  color: var(--clr-primary-50);
  padding: 0.5rem 1rem;
  border: 2px solid var(--clr-primary-400);
  border-radius: 0.5rem;
  display: grid;
  grid-template-areas: "header header" "temp wind";
  gap: 0.5rem;
}

.card-header {
  grid-area: header;
  display: grid;
  grid-auto-rows: fit-content;
  grid-template-areas:
    "city cond-icon"
    "conditions cond-icon";
}

.city {
  grid-area: city;
}

.conditions-text {
  grid-area: conditions;
}

.conditions-icon {
  grid-area: cond-icon;
  height: 4rem;
  aspect-ratio: 1;
  margin-left: auto;
}

.temperature {
  grid-area: temp;
}

.wind {
  grid-area: wind;
  display: flex;
  gap: 1ch;
  margin-left: auto;
}

.wind-icon {
  height: 1.5rem;
  aspect-ratio: 1;
}

.temperature-actual::after,
.temperature-feels-like::after {
  content: "\2109";
}

input {
  font-size: inherit;
  font-family: inherit;
  background: var(--clr-primary-100);
  color: var(--clr-primary-900);
  font-weight: 600;
  padding: 0.25rem 0.5rem;
  border: 3px solid var(--clr-primary-900);
  border-radius: 0.5rem;
  outline: none;
}

input[type="submit"] {
  cursor: pointer;
}

input[type="submit"]:hover {
  background: var(--clr-primary-900);
  color: var(--clr-primary-50);
}

input::placeholder {
  font-weight: 400;
  color: var(--clr-primary-700);
}
